<div class="macronutrients-display">
  <div class="macronutrients-display__item">
    <span class="macronutrients-display__label">Protein:</span>
    <span class="macronutrients-display__value">{{ proteinValue }}</span>
  </div>
  <div class="macronutrients-display__item">
    <span class="macronutrients-display__label">Fat:</span>
    <span class="macronutrients-display__value">{{ fatValue }}</span>
  </div>
  <div class="macronutrients-display__item">
    <span class="macronutrients-display__label">Carbs:</span>
    <span class="macronutrients-display__value">{{ carbsValue }}</span>
  </div>
</div>
