<div class="calorie-widget widget">
  <h2 class="calorie-widget__title widget__title">Calorie Calculator</h2>

  @if (caloriesResults(); as Result) {
    <div class="calorie-widget__results">
      <h3 class="calorie-widget__target">
       Target Calories: <span class="calorie-widget__target-value">{{ Result.targetCalories }} kcal/day</span>
      </h3>

      <app-section-block title="Macros">
        <app-macronutrients-display [macros]="Result.macros" />
      </app-section-block>
    </div>
  } @else {
    <p class="calorie-widget__description">
      Calculate your daily calorie needs based on your activity level and goals.
    </p>
  }

  <button
    tuiButton
    appearance="primary"
    size="s"
    (click)="onCalculateCalories()"
  >
    {{ caloriesResults() ? 'Recalculate' : 'Calculate Calories' }}
  </button>
</div>
