.calorie-widget {
  &__title {
    margin-bottom: var(--space-md);
  }

  &__results {
    margin-bottom: 1rem;
  }

  &__target {
    margin-bottom: var(--space-md);

    &-value {
      font-weight: 700;
      color: var(--color-primary);
    }
  }

  &__description {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--tui-text-02);
  }
}
