:host {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  min-width: 100vw;
  min-height: 100vh;

  background: var(--color-surface);
}

.router-outlet-wrapper {
  display: block;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: var(--space-lg);

}

.theme-toggle {
  position: fixed;
  z-index: var(--z-header);
  top: var(--space-md);
  right: var(--space-md);
}
