:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background: var(--color-surface);
}

.app-container {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.main-content {
  overflow: hidden auto;
  flex: 1;

  min-height: 0;
  padding: var(--space-md);

  background: var(--tui-base-01);
  
  @media (width >= 768px) {
    padding: var(--space-lg);
    padding-bottom: 0;
  }
  
  @media (width >= 1024px) {
    padding: var(--space-xl);
    padding-bottom: 0;
  }
}
