:host {
  display: block;
  padding: var(--space-xl);
  border-radius: var(--space-md);
  background: var(--tui-base-02);
}

.step {
  &__title {
    margin-bottom: var(--space-lg);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--tui-text-01);
  }
}
