@use '../../lib/variables' as *;

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: var(--space-md);
	border-bottom: 1px solid var(--color-border);

	background: var(--color-surface);
	box-shadow: var(--shadow-sm);

	@media (width <= 767px) {
		position: fixed;
		z-index: 1000;
		inset: auto 0 0;

		justify-content: center;

		width: 100%;
		min-height: 80px;
		padding: var(--space-md) 0;
		border-top: 1px solid var(--color-border);
		border-bottom: none;

		box-shadow: 0 -2px 8px rgb(0 0 0 / 10%);
	}
}

.navigation-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	@media (width <= 767px) {
		gap: var(--space-lg);
		justify-content: center;
	}
}

.navigation-nav {
	display: flex;
	gap: var(--space-sm);

	@media (width <= 767px) {
		gap: var(--space-lg);
	}
}

.navigation-button {
	display: flex;
	gap: var(--space-xs);
	align-items: center;

	&.active {
		color: var(--color-text-light);
		background: var(--color-primary);
	}

	@media (width >= 768px) {
		height: 40px;
		padding: 0 var(--space-md);
	}

	@media (width <= 767px) {
		justify-content: center;

		width: 60px;
		height: 60px;
		border-radius: var(--radius-sm);

		transition: var(--transition-fast);
	}
}

.navigation-label,
.navigation-theme-toggle {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-normal);
	
	@media (width >= 768px) {
		font-size: var(--font-size-md);
	}
	
	@media (width <= 767px) {
		display: none;
	}
}

.navigation-theme-toggle {
	flex-shrink: 0;
}

.navigation-icon {
	width: 24px;
	height: 24px;

	@media (width >= 768px) {
		display: none;
	}
}
