.back-layout {
  &__header { 
    position: sticky;
    z-index: 10;
    top: calc(var(--space-md) * -1);
    right: 0;
    left: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-md);

    margin-top: calc(var(--space-md) * -1);
    padding: var(--space-md);
    border-bottom: 1px solid var(--tui-base-03);

    background: var(--tui-base-01);
  }

  &__back-button {
    grid-column: 1;
    grid-row: 1;
  }

  &__title {
    grid-column: 2;
    grid-row: 1;
    align-self: center;

    margin: 0;

    text-align: center;
  }

  &__content {
    padding: 0 var(--space-md);
  }

  @media (width >= 1024px) {
    &__header {
      padding: var(--space-md) var(--space-xl);
    }

    &__content {
      padding: 0 var(--space-xl);
    }
  }
}
