@use './shared/lib/reset' as *;
@use './shared/lib/variables' as *;
@use './shared/lib/typography' as *;
@use './shared/lib/taiga-theme' as *;
@use './shared/lib/widget' as *;

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

body {
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);

  font-family: var(--font-family-base);
  color: var(--color-text);

  background: var(--color-background);
}


