@use './shared/lib/reset' as *;
@use './shared/lib/variables' as *;
@use './shared/lib/typography' as *;
@use './shared/lib/taiga-theme' as *;
@use './shared/lib/widget' as *;

html, body {
  /* Prevent scroll on iOS */
  position: fixed;
  inset: 0;

  overflow: hidden;

  width: 100vw;
  height: 100vh;
  
  @media (display-mode: standalone) {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background: var(--color-background);
}


