@use './shared/lib/reset' as *;
@use './shared/lib/variables' as *;
@use './shared/lib/typography' as *;
@use './shared/lib/taiga-theme' as *;

html, body {
  overflow-x: hidden; // Убираем горизонтальный скролл
  width: 100%;
  max-width: 100%;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background: var(--color-background);
}


